<p id="notice"><%= notice %></p>

<p>
  <strong>Candies:</strong>
  <%= @shelf.candies %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @shelf.shop_id %>
</p>

<%= link_to 'Edit', edit_shelf_path(@shelf) %> |
<%= link_to 'Back', shelves_path %>
