<p id="notice"><%= notice %></p>

<h1>Shops List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Shelves</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.shelves %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>    
  </tbody>
</table>

<br>

<%= link_to 'New Shop', new_shop_path %>
